nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.org{
    color: orange;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.protfolio-style{
    color: gray;
    font-size: 45px;    
    font-weight: 800;   
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    color: black;
}
.btn{
    border-radius: 5px;
    background: orange;
    font-size:20px ;
    font-weight: 700;
    border: 0;
    color: white;
    padding: 15px 35px ;
}
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .pp{
    width: 500px ;
    background-position: bottom ;
}
.greeting{
    font-size: 45px;
    color: #474747;
    margin: 0;
}
.title{
    font-size: 80px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-c{
    max-width: 500px;
}
/* main section styles */


/* about section styles */
.about{
    padding: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    margin-top: 130px;
}
.sec-t{
    color: #181818;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}
.sec-des{
    color: #181818 ;
    text-align: center;
    font-size: 18px;
}